@model EresData.GradeValues

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Grade Value</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GradeValueID)
        @Html.HiddenFor(model => model.GradeID)
        @Html.HiddenFor(model => model.RegistrationID)
        @Html.HiddenFor(model => model.TimeStamp)

        <div class="form-group">
            @Html.LabelFor(model => model.Value, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value)
                @Html.ValidationMessageFor(model => model.Value)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ProfessorView", new { GradeId = Model.GradeID.ToString() })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
